* {
    font-family: FontAwesome, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.waybar {
    background-color: transparent;
}    

#clock,
#memory,
#battery,
#pulseaudio,
#network,
#cpu,
#workspaces,
#mode,
#scratchpad,
#bluetooth {
    background-color: #202124;
    padding: 0px 15px;
    border-radius: 10px;
    border: 1px #FF7043 solid;
}

#workspaces button {
    padding: 0px 7px;
    border-radius: 0px;
}

#workspaces button.focused {
    background-color: #4E2A2A;
}
