* {
    color: white;
}

#clock,
#memory,
#battery,
#pulseaudio,
#network,
#cpu,
#workspaces,
#mode,
#scratchpad,
#bluetooth {
    background-color: #202124;
}

#workspaces button.focused {
    background-color: #4E2A2A;
}

tooltip {
    background-color: #202124;
}

@keyframes blink {
    to {
        background-color: #FF7043;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
